.hero {
    height: calc(100vh - 56px);
    display: grid;
    place-items: center;
    position: relative;
    cursor: default;
}

.hero .group {
    width: 100%;
}

.hero .sub {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--black-4);
    font-weight: 100;
    margin: 0;
    z-index: 99;
}

.hero .group:hover{
    animation: animate 0.5s linear infinite;
}

.hero .large {
    font-size: 128px;
    color: var(--black-2);
    margin: 0;
    z-index: 99;
}


.group div {
    position: relative;
    overflow: hidden;
    display: flex;
}

.home-title div::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--black-2);
    animation: a-ltr-after 1.2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
    transform: translateX(-101%);
}

.home-title div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--body-bg);
    animation: a-ltr-before 1.2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
    transform: translateX(0);
}

.home-title div:nth-of-type(1)::before,
.home-title div:nth-of-type(1)::after {
    animation-delay: 0.1s;
}

.home-title div:nth-of-type(2)::before,
.home-title div:nth-of-type(2)::after {
    animation-delay: 0.3s;
}

.home-title div:nth-of-type(3)::before,
.home-title div:nth-of-type(3)::after {
    animation-delay: 0.4s;
}


@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(101%);
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes animate {

    0%,
    25% {
        text-shadow: 2px 2px 2px #fc7390;
    }

    50% {
        text-shadow: 2px -2px 2px #fc7390;
    }

    75% {
        text-shadow: -2px 2px 2px #fc7390;
    }

    100% {
        text-shadow: -2px -2px 2px #fc7390;
    }
}

@media screen and (max-width: 800px) {
    .hero .sub {
        font-size: 16px;
    }

    .hero .large {
        font-size: 84px;
    }
}

.music-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.music {
    width: 100%;
    height: auto;
    margin: 100px auto;
    position: relative;
}

.music div {
    width: 5vw;
    max-width: 100px;
    height: 50vw;
    bottom: 0;
    position: absolute;
}

.music div:nth-of-type(10) {
    left: -7vw;
}

.music div:nth-of-type(1) {
    left: 0;
}

.music div:nth-of-type(2) {
    left: 7vw;
}

.music div:nth-of-type(3) {
    left: 14vw;
}

.music div:nth-of-type(4) {
    left: 21vw;
}

.music div:nth-of-type(5) {
    left: 28vw;
}

.music div:nth-of-type(6) {
    left: 35vw;
}

.music div:nth-of-type(7) {
    left: 42vw;
}

.music div:nth-of-type(8) {
    left: 49vw;
}

.music div:nth-of-type(9) {
    left: 56vw;
}

.music.active div:nth-of-type(10) {
    animation: wave 0.66s linear infinite;
    background-color: #8cfc73fe;
}

.music.active div:nth-of-type(1) {
    animation: wave 0.76s linear infinite;
    background-color: #d7ea44fe;
}

.music.active div:nth-of-type(2) {
    animation: wave 0.88s linear infinite;
    background-color: #f17b69fe;
}

.music.active div:nth-of-type(3) {
    animation: wave 1s linear infinite;
    background-color: #8173fcfe;
}

.music.active div:nth-of-type(4) {
    animation: wave 0.5s linear infinite;
    background-color: #8cfc73fe;
}

.music.active div:nth-of-type(5) {
    animation: wave 0.9s linear infinite;
    background-color: #73fcd3fe;
}

.music.active div:nth-of-type(6) {
    animation: wave 1.2s linear infinite;
    background-color: #cafc73fe;
}

.music.active div:nth-of-type(7) {
    animation: wave 0.65s linear infinite;
    background-color: #fc73aafe;
}

.music.active div:nth-of-type(8) {
    animation: wave 0.85s linear infinite;
    background-color: #fc7375fe;
}

.music.active div:nth-of-type(9) {
    animation: wave 1.1s linear infinite;
    background-color: #73a1fcfe;
}

@-webkit-keyframes wave {
    0% {
        height: 2vw
    }

    25% {
        height: 12vw
    }

    50% {
        height: 35vw
    }

    75% {
        height: 22vw
    }

    100% {
        height: 0vw
    }
}

@keyframes wave {
    0% {
        height: 2vw
    }

    25% {
        height: 12vw
    }

    50% {
        height: 35vw
    }

    75% {
        height: 22vw
    }

    100% {
        height: 0vw
    }
}



.hero .group .large-ani{
    position: relative;
    text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
        0 -0.05em 0 #50c878;
    animation: glitch 375ms linear infinite;

}

.hero .group .large-ani {
    text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
        0.025em 0.05em 0 #50c878;
    color: rgba(0, 194, 203, 0.2);
    text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
        0 -0.05em 0 #50c878;
}


.hero .group .large-ani:before,
.hero .group .large-ani:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hero .group .large-ani:before {
  animation: glitch 650ms forwards;
}

.hero .group .large-ani:after {
  animation: glitch 375ms forwards;
}

.hero .group .large-ani:hover::before {
  animation: glitch 650ms infinite;
}

.hero .group .large-ani:hover::after {
  animation: glitch 375ms infinite;
}

@keyframes glitch {
    0% {
        color: rgba(236, 34, 37, 0.2);
        text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
            0.025em 0.05em 0 #50c878;
    }

    14% {
        text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
            0.025em 0.05em 0 #50c878;
    }

    15% {
        color: #50c878;
        text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
            -0.05em -0.05em 0 #50c878;
    }

    49% {
        text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
            -0.05em -0.05em 0 #50c878;
    }

    50% {
        text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
            0 -0.05em 0 #50c878;
    }

    99% {
        color: #313f97;
        text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
            0 -0.05em 0 #50c878;
    }

    100% {
        text-shadow: -0.025em 0 0 #ec2225, -0.025em -0.025em 0 #313f97,
            -0.025em -0.05em 0 #50c878;
    }
}



