.paginator {
    display: block;
    text-align: center;
    padding: 16px;
    margin: 8px;
}

.paginator>* {
    border-radius: 3px;
    padding: 6px 12px;
    margin: 0 2px;
    user-select: none;
    transition: all 0.2s;
}


.paginator span{
    background-color: var(--black);
    border:1px solid var(--black);
    color: var(--white);
}
.paginator a{
    border:1px solid var(--black-4);
    color: var(--black);
}